<div class="index">
    <header class="mt-5 d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Liyo Store</h1>
            <h3 class="mb-5">
                <em>Tienda online</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Inicio de Session
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</div>